<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Erro</title>

  </head>
  <body>

    <p>
      Error
      <a href="/login">login</a>
      <a href="/signup">signup</a>

      <h1>Error</h1>
      <p>
        Something went wrong. Please go <a href="/login">try login in</a>
      </p>

    </p>
  </body>
</html>
