<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>

  </head>
  <body>
    <h1>Signup</h1>
    <p>
      Signup
    </p>
    <form class="" action="/signup" method="post">
      <label for="">UserName</label>
      <input type="text" placeholder="username"name="username" value="">
      <label for="">Password</label>
      <input type="text" placeholder="password"name="password" value="">
      <button type="submit">Login</button>

    </form>
    <p>
      Welcome to the simple login app
      <p>

      </p>
      <a href="/">home</a>
      <a href="/login">login</a>

    </p>
  </body>
</html>
