body {
  background-color: #b9b9b9;
  font-family: sans-serif;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
}

.product-list .item {
  background-color: #FFF8DC;
  border: 1px solid #b0b0b0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
}
